/* ======================================
=fonts
====================================== */

@font-face {
  font-family: "Mona Sans";
  src: url(../fonts/mona-sans-variable.woff2) format("woff2-variations");
  src: url(../fonts/mona-sans-variable.woff2) format("woff2") tech("variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal italic;
  font-feature-settings: "ss01" on, "ss03" on;
}
