/* ======================================
=body
====================================== */

body {
  margin: 0;
  padding: 0;
  min-block-size: 100dvh;
  scrollbar-gutter: stable;

  background-color: var(--color-surface-primary);
  color: var(--color-text-primary);
  font-size: var(--fontsize-base);
}
