/* ===================================
=speaker
=================================== */

.c-speaker {
  --speaker-title-fontsize: clamp(26 / 16 * 1rem, 1.565rem + 0.275vi, 29 / 16 * 1rem);
  --speaker-overlay-color: var(--color-blue);

  @supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
      animation-timeline: view();
      view-timeline-inset: 60px;
      animation-name: scrollAppear;
      animation-timing-function: ease-out;
      animation-fill-mode: both;
      animation-range: entry 60px cover 30%;
    }
  }
}

.c-speaker:hover .c-speaker__img {
  scale: 1.018;
}

.c-speaker__media {
  overflow: clip;
  border-radius: 12px;
  margin-block-end: 18px;
}

.c-speaker__img {
  scale: 1;
  filter: grayscale(1);
  transition: scale 0.2s ease-out;
}

.c-speaker__link {
  display: block;
  position: relative;
}

.c-speaker__link::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-blue);
  z-index: 2;
  mix-blend-mode: color;

  transition: --speaker-gradient-stop 0.25s ease-out;
}

.c-speaker__link:hover::before {
  --speaker-gradient-stop: 0%;
}

.c-speaker__img {
  z-index: 1;
}

.c-speaker__name {
  font-weight: 400;
  font-size: var(--speaker-title-fontsize);
  font-stretch: 75%;
  color: var(--color-text-highlight);
  margin-block-end: 3px;
}

.c-speaker__name > a {
  color: inherit;
  text-decoration: none;
}

.c-speaker__function {
  color: var(--color-text-secondary);
}
