/* ===================================
=button
=================================== */
.c-button {
  --button-surface: white;
  --button-text: var(--color-surface-primary);

  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  line-height: 1;
  background-color: var(--button-surface);
  color: var(--button-text);
  border-radius: 999px;
  font-weight: 500;
  font-stretch: 80%;
  font-size: var(--fontsize-md);
  text-decoration: none;
  text-transform: uppercase;

  transition: background-color 0.2s ease-out;

  &:hover,
  &:focus-visible {
    --button-surface: var(--color-accent-light);
  }
}
