/* ===================================
=speaker
=================================== */

@property --gradient-stop {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 6%;
}

.c-speaker {
  --speaker-title-fontsize: clamp(26 / 16 * 1rem, 1.565rem + 0.275vi, 29 / 16 * 1rem);
  --speaker-gradient-start: var(--color-red);
  --speaker-gradient-two: var(--color-blue);
}

.c-speaker__media {
  overflow: clip;
  border-radius: 12px;
  margin-block-end: 18px;
}

.c-speaker__img {
  filter: grayscale(1) brightness(1.5);
}

.c-speaker__link {
  display: block;
  position: relative;
}

.c-speaker__link::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    var(--speaker-gradient-start) var(--gradient-stop),
    var(--speaker-gradient-two) calc(100% - var(--gradient-stop))
  );
  z-index: 2;
  mix-blend-mode: multiply;

  transition: --gradient-stop 0.2s ease-out;
}

.c-speaker__link:hover::before {
  --gradient-stop: 24%;
}

.c-speaker__img {
  z-index: 1;
}

.c-speaker__name {
  font-weight: 400;
  font-size: var(--speaker-title-fontsize);
  font-stretch: 75%;
  color: var(--color-text-highlight);
  margin-block-end: 3px;
}

.c-speaker__name > a {
  color: inherit;
  text-decoration: none;
}

.c-speaker__function {
  color: var(--color-text-secondary);
}
