/* ===================================
=titles
=================================== */

:is(.c-h1, .c-h2, .c-h3, .c-h4) {
  font-weight: 400;
  line-height: 1.2;
  font-stretch: 75%;
  margin-block-end: 0.75em;
  color: var(--color-text-highlight);
}

.c-h1 {
  font-size: var(--fontsize-h1);
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}

.c-h2 {
  font-size: var(--fontsize-h2);
}
