/* ===================================
=banner
=================================== */

@keyframes slideUp {
  from {
    translate: 0 100%;
  }
}

.c-banner {
  --banner-anim-duration: 0.6s;
  --banner-anim-delay: 0.2s;

  display: grid;
  grid-template-columns: minmax(48px, min(4vi, 90px)) minmax(0, 1fr);
}

.c-banner__title {
  z-index: 2;
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  align-self: center;

  font-weight: 400;
  line-height: 1.12;
  font-stretch: 75%;
  margin-block-end: 0.75em;
  font-size: clamp(26 / 16 * 1rem, 0.822rem + 3.67vi, 66 / 16 * 1rem);
  text-transform: uppercase;
  margin: 0;
  color: var(--color-text-highlight);
}

.c-banner__word {
  display: block;
  overflow: clip;

  & > span {
    display: block;
    animation-name: slideUp;
    animation-duration: var(--banner-anim-duration);
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    animation-fill-mode: both;
    animation-delay: calc(var(--index) * var(--banner-anim-delay));
  }
}

.c-banner__img {
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 2 / -1;

  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  mask-image: url(../img/banner-mask.svg);
  mask-repeat: no-repeat;
  mask-size: 100% auto;
  mask-position: 50% 50%;
}
