/* ===================================
=partners
=================================== */

.c-partners {
  --partner-size: min(180px, 100%);

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}

.c-partners > li {
  inline-size: var(--partner-size);
  transition: opacity 0.2s ease-out;
}

.c-partners > li:not(:hover) {
  opacity: 0.6;
}
