/* ===================================
=sitefooter
=================================== */

.c-sitefooter {
  --footer-margin: clamp(30px, 8vi, 60px);

  display: block;
  margin-block-start: var(--footer-margin);
}

.c-sitefooter__content {
  border-block-start: 1px solid rgba(255, 255, 255, 0.12);
  padding-block: 18px;
}
