/* ===================================
=colors
=================================== */

:root {
  --color-gray-100: hsl(30, 6%, 6%);
  --color-gray-200: hsl(30, 6%, 18%);
  --color-gray-300: hsl(30, 6%, 30%);
  --color-gray-400: hsl(30, 6%, 42%);
  --color-gray-500: hsl(30, 6%, 60%);
  --color-gray-600: hsl(30, 6%, 72%);
  --color-gray-700: hsl(30, 6%, 84%);
  --color-gray-800: hsl(30, 6%, 95%);

  --color-white: #ffffff;

  --color-blue: hsl(193, 73%, 54%);
  --color-blue-light: hsl(193, 73%, 72%);
  --color-blue-dark: hsl(193, 73%, 30%);

  --color-red: hsl(22, 90%, 48%);
  --color-red-light: hsl(22, 90%, 72%);
  --color-red-dark: hsl(22, 90%, 30%);

  --color-surface-primary: var(--color-gray-100);

  --color-text-highlight: var(--color-white);
  --color-text-primary: var(--color-gray-700);
  --color-text-secondary: var(--color-gray-500);

  --color-accent: var(--color-blue);
  --color-accent-light: var(--color-blue-light);
  --color-accent-dark: var(--color-blue-dark);
}
