/* ===================================
=container
=================================== */

.l-container {
  --container-max-size: 1500px;
  --container-padding: 18px;

  margin: 0 auto;
  max-inline-size: var(--container-max-size);
  padding-inline: var(--container-padding);

  @media (width>=750px) {
    --container-padding: 30px;
  }
}

.l-container--md {
  --container-max-size: 900px;
}

.l-container--sm {
  --container-max-size: 660px;
}
