<footer class="c-sitefooter">
  <div class="l-container">
    <div class="c-sitefooter__content">
      <p class="c-copyright">&copy; La Casa Productions - <a href="https://www.github.com/jeromecoupe/">code on Github</a></p>
    </div>
  </div>
</footer>