<header class="c-siteheader">
  <div class="l-container">
    <div class="c-banner">
      <img 
        class="c-banner__img" 
        src="assets/img/banner-800.jpg" 
        srcset="assets/img/banner-800.jpg 800w,
                assets/img/banner-1024.jpg 1024w,
                assets/img/banner-1500.jpg 1500w"
        sizes="100vw"
        alt="2026 written in big, bold letters with a blue and red abstract painting texture">
      <h1 class="c-banner__title">
        <span class="c-banner__word" style="--index: 0">
          <span>Soirée</span>
        </span>
        <span class="c-banner__word" style="--index: 1">
          <span>Métiers</span>
        </span>
        <span class="c-banner__word" style="--index: 2">
          <span>Multimédia</span>
        </span>
        <span class="u-sronly">2025-2026</span>
      </h1>
    </div>
  </div>
</header>